<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>MENU</title>
</head>
<body>
<p>Oi, you! Ты знаешь всё обо всех?</p>
<p>Ты думал, что я сдулся, думал, что опопсел?</p>
<p>Но кто тебе поведал про грайм и дабстеп?</p>
<p>И четыре года кряду я в туре, ты домосед</p>
<p>То есть oi! Ты случайно не оборзел?</p>
<p>Не подходи сюда, между нами водораздел</p>
<p>Если бы моя башка не висела не волоске</p>
<p>Сколько раз - я вряд ли бы делал то, что хотел</p>
<p>И мой рэп не стал бы ничем, если бы не город</p>
<p>Лондон Против Всех из копеечных мониторов</p>
<p>Ноль восемь: Окси чего? Позор, позер</p>
<p>Но сколько рэперков под это до сих пор косят</p>
<p>Я жил где мечети, ямайцы и Сенегал</p>
<p>Теперь по моим приключениям снимается сериал</p>
<p>Я МС, но пойманный в теле авантюриста</p>
<p>Заболтаю всех, даже телеевангелиста</p>
<p>Сколько слов было, сколько зубов выбито</p>
<p>Сколько всего выпито дома у No Limit'a</p>
<p>Голос, флоу, мимика, город, бетон, лирика</p>
<p>На лавке в Грине было фристайлить с Den Bro принято</p>
<p>Эй, тогда я работал, как вол, много</p>
<p>Нынче получаю в день, как те годы за полгода, эй</p>
<p>Маркул у людей играет в подкорке</p>
<p>Видел Локибоя, он выступает в Гонконге</p>
<p>Грин Парк жив, пока живы мы</p>
<p>Скажи, кто раньше был — разве шире наши ряды?</p>
<p>Ненамного: мы не ушли, не зашили рты</p>
<p>В этом деле с начала движа: гроши, мы были бедны</p>
<p>Лондонград — из андеграунда на экран</p>
<p>От камер наблюдения до кинокамер на кран</p>
<p>От окраины и локального хайпа баттловика</p>
<p>Из Гринпарка и Canning Town'а с майком и на века</p>
</body>
</html>